*{
    margin: 0%;
    padding: 0%;
}
.main{
    border:4px solid red;
    background-image: url(cover7.jpg),url(cover4.jpg);
    height: 130vh;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}
.navbar{
    width: 1600px;
    height: 100px;
    /*border: 3px solid red;*/
    margin:auto
}
.icon{
    padding-bottom: 10px;
    width: 300px;
    height:60px;
    /*border: 2px solid lawngreen;*/
    
}
.logo{
    /*border: 2px solid aqua;*/
    color:#0dff00;
    font-size: 55px;
    margin: auto;
    padding: 1px;
    font-family: 'Times New Roman';
}
.title{
    /*border: 2px solid aqua;*/
    color:#0dff00;
    font-family: 'Times New Roman';
    width: 300px;
    margin-top: 1px;

}
.menu{
    /*border:solid 2px rgb(255, 0, 212);*/
    width: 890px;
    float: left;
    height: 50px;
    margin: -70px;
    margin-left: 300px;
    margin-top: -53px;
    
}
ul{
    /*border: 2px solid wheat;*/
    display: flex;
    font-size: 25px;
    color: #0dff00;

}
ul li{
    /*border: 2px solid brown;*/
    list-style: none;
    padding-left: 10px;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 24px;
}
ul li a{
    /*border:3px solid aqua;*/
    color: #0dff00;
    text-decoration: overline;
    font-family: 'Times New Roman';
    font-weight: bold;
    transition: 0.4 ease-in-out;
}
ul li a:hover{
    color: #ffffff;
    transition-duration: 0.4s ;
}
.search{
    text-align: center;
    /*border: 3px solid cyan;*/
    width: 400px;
    height: 46px;
    margin-top:-51px;
    float: right;
}
.srch{
   background-color: transparent;
   /*border-radius: 20px;*/
   margin-top: 5px;
   height:35px;
   color:#ffffff;
   font-size: 20px;
   border:1px solid #ff0000
}
::placeholder{
    color: #0dff00;
}
.btn{
    /*border: 5px solid rgb(229, 255, 0);*/
    background-color: transparent;
    font-family: 'Times New Roman';
    font-size: 31px;
    font-variant-caps: all-petite-caps;
}
.btn a {
    color: #0dff00;
}
.btn a:hover{
    color: #ffffff;
    transition: 00.4s ease-in-out;
}
div.form{
    height:150px;
    /*border: 3px solid blue;*/
}
.par{
    /*border: 3px solid red;*/
}


h1{
    width: max-content;
    outline: 2px solid blue;
    color: white;
    transition: color 0.5s;
}
h1:hover{
    color: green;
}

.calender{
   /* border: 3px solid red;*/
    margin-right: 70%;
        margin-top: 5px;
        max-width: 350px;
    font-family: 'Times New Roman';
    color: white;
    font-weight: bold;
    
}
.month{
    /*border: 2px solid blue;*/
    margin-top: 15px;
    text-align: center;
    font-size:50px;
    letter-spacing: 0px;
}
table, th,td{
    /*border: 1px solid rgb(0, 255, 21);*/
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 25px;
    font-family:'Times New Roman';
}
tr, th, td{
padding:2px
}
th{
    letter-spacing: 0px;
    background-color: transparent;
    font-family: 'Times New Roman';
}
td{
    color: #ffffff;
}
td:hover{
    color: #0dff00;
}
th:hover{
    color: #0dff00;
}
div.box{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    
}
 
div.card{
   /* border: 1px solid rgb(4, 183, 34);*/
   height: 100%;
    width: 275px;
    margin: 20px;
    text-align: center;
    box-shadow: 2px 2px 12px 4px rgb(255, 255, 255);
}
.card img{
    width: 100%;
    transition: all .5s ease;
}

.card:hover img{
    transform: scale(2) translateY(-50%);
}


div.text{
    color: #0dff00;
    font-weight: bold;
    font-style: italic;
    
}
.text:hover{
    color: #ffffff;
    

}

